extend ./layout.jade

block content
  div(class="col-md-3 col-md-offset-4")
    h1="Login requested"
    form(method="POST", action=post_url)
      button(type="submit", name="allow", value="true", class="btn btn-default pull-right")="Accept"
      button(type="submit", name="allow", value="false", class="btn btn-default pull-left")="Decline"
      input(type="hidden", name="client_id", value=client_id)
      input(type="hidden", name="redirect_uri", value=redirect_uri)
      input(type="hidden", name="response_type", value="code")
